@charset "UTF-8";
/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("../fonts/open-sans-v17-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-cyrillic_latin-regular.woff") format("woff"), url("../fonts/open-sans-v17-cyrillic_latin-regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* open-sans-italic - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("☺"), url("../fonts/open-sans-v17-cyrillic_latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v17-cyrillic_latin-italic.woff") format("woff"), url("../fonts/open-sans-v17-cyrillic_latin-italic.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("../fonts/open-sans-v17-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/open-sans-v17-cyrillic_latin-700.woff") format("woff"), url("../fonts/open-sans-v17-cyrillic_latin-700.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("☺"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* open-sans-italic - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local("☺"), url("../fonts/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype");
  /* Safari, Android, iOS */ }

/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("☺"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */ }

.o-header {
  padding: 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media (max-width: 1097px) {
    .o-header {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

.o-header__logo {
  width: 30%; }

.o-header__block {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.o-header__menu {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

@media (max-width: 1097px) {
  .o-header__menu_hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  .o-header__menu_visible {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    -webkit-transition: all,ease-in-out,.2s;
    transition: all,ease-in-out,.2s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    right: 0;
    margin: 0; } }

.o-header__menu-item {
  text-decoration: none;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer; }

.o-header__tel-holder {
  width: calc(30% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 1097px) {
    .o-header__tel-holder {
      display: none; } }

.o-header__tel {
  color: #000;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .o-header__tel:after {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 1px solid #71B02D;
    width: calc(100% + 24px);
    bottom: -4px; }

.o-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 1200px) {
    .o-preview {
      position: relative;
      padding-top: 72px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.o-preview__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.o-preview__img-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 560px;
  height: 560px; }
  @media (max-width: 568px) {
    .o-preview__img-holder {
      width: 100%;
      height: 100%; } }

.o-preview__img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(268.78deg, #FFFFFF 15.85%, rgba(255, 255, 255, 0) 44.18%), linear-gradient(86.31deg, #FFFFFF 15.63%, rgba(255, 255, 255, 0) 24.62%), linear-gradient(0deg, #FFFFFF 11.09%, rgba(255, 255, 255, 0) 39.97%), linear-gradient(180deg, #FFFFFF 12.92%, rgba(255, 255, 255, 0) 43.01%); }
  @media (max-width: 568px) {
    .o-preview__img {
      width: 100%;
      height: auto; } }

.o-preview__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: calc(60% + 54px); }
  @media (max-width: 1200px) {
    .o-preview__social {
      display: none; } }

.o-preview__social-item {
  width: 34px;
  height: 34px;
  display: block;
  background-color: #fff;
  padding-bottom: 24px; }
  .o-preview__social-item:last-child {
    padding-bottom: 0; }

.o-preview__social-item_vk {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 0C7.61148 0 0 7.61113 0 17C0 26.3889 7.61148 34 17 34C26.3885 34 34 26.3889 34 17C34 7.61113 26.3885 0 17 0ZM25.6233 18.8386C26.4157 19.6125 27.2539 20.3409 27.9652 21.1948C28.2803 21.5725 28.5774 21.9631 28.8035 22.4024C29.1263 23.0289 28.8348 23.7158 28.2741 23.753L24.7913 23.7523C23.8918 23.8268 23.176 23.464 22.5725 22.849C22.0908 22.359 21.6438 21.8355 21.1798 21.3287C20.9903 21.1207 20.7906 20.9249 20.5527 20.7708C20.0779 20.4619 19.6654 20.5565 19.3934 21.0525C19.1162 21.5572 19.0529 22.1165 19.0264 22.6783C18.9885 23.4995 18.7409 23.7141 17.9169 23.7527C16.1562 23.8351 14.4856 23.568 12.9329 22.6803C11.5631 21.8974 10.503 20.7923 9.57913 19.5412C7.78017 17.1023 6.40243 14.4254 5.16452 11.6717C4.88591 11.0515 5.08974 10.7197 5.77391 10.7068C6.91061 10.6849 8.0473 10.6877 9.184 10.7057C9.64661 10.713 9.9527 10.9777 10.1304 11.4143C10.7447 12.9256 11.4977 14.3635 12.4414 15.697C12.6929 16.0522 12.9496 16.4063 13.3151 16.657C13.7186 16.9339 14.0261 16.8424 14.2163 16.392C14.3381 16.1057 14.3906 15.7997 14.417 15.4929C14.5075 14.4421 14.5183 13.3917 14.3617 12.345C14.2643 11.6901 13.896 11.2671 13.2431 11.1433C12.9106 11.0803 12.9593 10.9572 13.121 10.7673C13.4017 10.439 13.6647 10.2358 14.1903 10.2358L18.1252 10.2351C18.7454 10.3569 18.8845 10.6351 18.9687 11.2598L18.9722 15.6327C18.9649 15.8744 19.0936 16.591 19.5277 16.7492C19.8755 16.864 20.105 16.585 20.313 16.3649C21.2567 15.3635 21.929 14.1816 22.5311 12.9583C22.7969 12.4188 23.0261 11.8605 23.2487 11.3012C23.4143 10.8877 23.6717 10.6842 24.1384 10.6911L27.9277 10.6957C28.0393 10.6957 28.1527 10.6967 28.2633 10.7158C28.9019 10.825 29.0769 11.0998 28.8793 11.7228C28.5683 12.7016 27.9642 13.5169 27.3736 14.3343C26.7405 15.2094 26.0654 16.0539 25.4386 16.9329C24.8626 17.7363 24.9082 18.1409 25.6233 18.8386Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-preview__social-item_telegram {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 34C26.3911 34 34 26.3911 34 17C34 7.60892 26.3911 0 17 0C7.60892 0 0 7.60892 0 17C0 26.3911 7.60892 34 17 34ZM7.77892 16.6317L24.1698 10.3119C24.9305 10.0371 25.5949 10.4975 25.3484 11.6478L25.3498 11.6464L22.559 24.7945C22.3522 25.7267 21.7983 25.9533 21.0233 25.5142L16.7733 22.3819L14.7234 24.3568C14.4967 24.5834 14.3055 24.7747 13.8663 24.7747L14.1681 20.4496L22.0447 13.3337C22.3876 13.0319 21.9682 12.8619 21.5163 13.1623L11.7824 19.2907L7.58625 17.9817C6.67533 17.6927 6.6555 17.0708 7.77892 16.6317Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-preview__social-item_instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2539 17C20.2539 18.7971 18.7971 20.2539 17 20.2539C15.2029 20.2539 13.7461 18.7971 13.7461 17C13.7461 15.2029 15.2029 13.7461 17 13.7461C18.7971 13.7461 20.2539 15.2029 20.2539 17Z' fill='%2371B02D'/%3E%3Cpath d='M24.6097 11.2429C24.4533 10.819 24.2038 10.4354 23.8795 10.1205C23.5646 9.79622 23.1812 9.54668 22.7571 9.39026C22.4131 9.25667 21.8964 9.09766 20.9447 9.05434C19.9151 9.00739 19.6064 8.99727 17 8.99727C14.3933 8.99727 14.0846 9.00713 13.0553 9.05408C12.1036 9.09766 11.5866 9.25667 11.2429 9.39026C10.8188 9.54668 10.4351 9.79622 10.1205 10.1205C9.79622 10.4354 9.54668 10.8188 9.39 11.2429C9.25641 11.5869 9.0974 12.1038 9.05408 13.0556C9.00713 14.0849 8.99701 14.3936 8.99701 17.0003C8.99701 19.6067 9.00713 19.9154 9.05408 20.9449C9.0974 21.8967 9.25641 22.4134 9.39 22.7574C9.54668 23.1815 9.79596 23.5649 10.1202 23.8798C10.4351 24.204 10.8185 24.4536 11.2426 24.61C11.5866 24.7439 12.1036 24.9029 13.0553 24.9462C14.0846 24.9931 14.393 25.003 16.9997 25.003C19.6067 25.003 19.9154 24.9931 20.9444 24.9462C21.8962 24.9029 22.4131 24.7439 22.7571 24.61C23.6085 24.2816 24.2813 23.6087 24.6097 22.7574C24.7433 22.4134 24.9023 21.8967 24.9459 20.9449C24.9929 19.9154 25.0027 19.6067 25.0027 17.0003C25.0027 14.3936 24.9929 14.0849 24.9459 13.0556C24.9026 12.1038 24.7436 11.5869 24.6097 11.2429ZM17 22.0126C14.2314 22.0126 11.9871 19.7686 11.9871 17C11.9871 14.2314 14.2314 11.9874 17 11.9874C19.7683 11.9874 22.0126 14.2314 22.0126 17C22.0126 19.7686 19.7683 22.0126 17 22.0126ZM22.2108 12.9606C21.5639 12.9606 21.0394 12.4361 21.0394 11.7892C21.0394 11.1422 21.5639 10.6177 22.2108 10.6177C22.8578 10.6177 23.3823 11.1422 23.3823 11.7892C23.382 12.4361 22.8578 12.9606 22.2108 12.9606Z' fill='%2371B02D'/%3E%3Cpath d='M17 0C7.61259 0 0 7.61259 0 17C0 26.3874 7.61259 34 17 34C26.3874 34 34 26.3874 34 17C34 7.61259 26.3874 0 17 0ZM26.7028 21.0246C26.6556 22.0637 26.4904 22.7732 26.2491 23.3942C25.742 24.7055 24.7055 25.742 23.3942 26.2491C22.7735 26.4904 22.0637 26.6554 21.0248 26.7028C19.9839 26.7503 19.6513 26.7617 17.0003 26.7617C14.3489 26.7617 14.0166 26.7503 12.9754 26.7028C11.9365 26.6554 11.2268 26.4904 10.6061 26.2491C9.95445 26.004 9.36458 25.6198 8.87691 25.1231C8.38042 24.6357 7.99625 24.0455 7.75111 23.3942C7.50987 22.7735 7.34464 22.0637 7.29742 21.0248C7.24944 19.9836 7.23828 19.6511 7.23828 17C7.23828 14.3489 7.24944 14.0164 7.29716 12.9754C7.34438 11.9363 7.50935 11.2268 7.7506 10.6058C7.99573 9.95445 8.38016 9.36432 8.87691 8.87691C9.36432 8.38016 9.95445 7.99599 10.6058 7.75085C11.2268 7.50961 11.9363 7.34464 12.9754 7.29716C14.0164 7.24969 14.3489 7.23828 17 7.23828C19.6511 7.23828 19.9836 7.24969 21.0246 7.29742C22.0637 7.34464 22.7732 7.50961 23.3942 7.7506C24.0455 7.99573 24.6357 8.38016 25.1234 8.87691C25.6198 9.36458 26.0043 9.95445 26.2491 10.6058C26.4906 11.2268 26.6556 11.9363 26.7031 12.9754C26.7506 14.0164 26.7617 14.3489 26.7617 17C26.7617 19.6511 26.7506 19.9836 26.7028 21.0246Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-preview__social-item_facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34 17C34 7.61259 26.3874 0 17 0C7.61259 0 0 7.61259 0 17C0 26.3874 7.61259 34 17 34C17.0999 34 17.1992 33.9979 17.2988 33.9961V20.7623H13.6465V16.5058H17.2988V13.3736C17.2988 9.74097 19.5164 7.76382 22.7569 7.76382C24.3086 7.76382 25.6424 7.87952 26.0312 7.93114V11.7277H23.7968C22.0339 11.7277 21.6925 12.5656 21.6925 13.7949V16.5058H25.9078L25.3584 20.7623H21.6925V33.3432C28.7983 31.3061 34 24.7597 34 17Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-tab {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1; }

.o-tab__switch {
  display: none; }

input[type=checkbox].o-tab__switch {
  visibility: hidden; }

label[for="tab-1"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-1"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-1"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-2"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-2"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-2"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-3"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-3"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-3"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

.o-tab__title {
  position: relative;
  display: block;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.o-tab__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% + 32px);
  margin-top: 80px;
  max-height: 87%;
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  @media (max-width: 1000px) {
    .o-tab__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      position: static;
      opacity: 1; } }

.o-tab__content {
  width: calc(60% - 16px);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5; }
  @media (max-width: 1000px) {
    .o-tab__content {
      width: 100%; } }

.o-tab__switch:checked + .o-tab__title:before {
  content: '';
  position: relative;
  display: block;
  max-width: 100%;
  height: 20px;
  margin-bottom: 16px;
  border: 2px solid #71B02D;
  background-color: #71B02D;
  vertical-align: middle;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1; }

.o-tab__switch:checked + label + .o-tab__block {
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.o-tab__content-text {
  margin-top: 0;
  position: relative;
  z-index: 1; }

.o-tab__content-action {
  position: relative;
  z-index: 0;
  display: block;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 1000px) {
    .o-tab__content-action {
      display: none; } }

.o-tab__content-action_rose {
  height: 476px;
  background-position: bottom 24px left 24%;
  background-image: linear-gradient(273.46deg, #FFFFFF 8.3%, rgba(255, 255, 255, 0) 47.44%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 92.88%), url("../img/preview--form-1.jpg"); }

.o-tab__content-action_money {
  height: 468px;
  background-position: bottom 42px left 24%;
  background-image: linear-gradient(270.42deg, #FFFFFF 0.28%, rgba(255, 255, 255, 0) 31.04%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 67.11%), url("../img/preview--form-3.jpg"); }

.o-tab__content-action_child {
  height: 468px;
  bottom: 40%;
  background-position: bottom 0 left 24%;
  background-image: linear-gradient(90.43deg, #FFFFFF 7.74%, rgba(255, 255, 255, 0) 49.99%), linear-gradient(178.35deg, #FFFFFF 2.08%, rgba(255, 255, 255, 0) 53.89%), url("../img/preview--form-2.jpg");
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0); }

.o-tab__form {
  width: calc(40% - 32px); }
  @media (max-width: 1000px) {
    .o-tab__form {
      min-width: 240px; } }

.o-tab__form-holder {
  max-width: 482px;
  border: 1px solid #71B02D;
  padding: 48px 24px; }

input[type=checkbox].o-tab__switch {
  visibility: hidden; }

label[for="tab-double-1"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-double-1"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-1"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-double-2"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-double-2"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-2"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-double-3"].o-tab__title {
  vertical-align: middle; }
  label[for="tab-double-3"].o-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-3"].o-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

.o-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 24px; }
  .o-form__group:last-child {
    margin-bottom: 0; }
  .o-footer__form-holder .o-form__group {
    width: calc(50% - 16px); }

.o-form__button-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.o-form__button {
  border: 1px solid #71B02D;
  background: #71B02D;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 14px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1; }
  .o-footer__form-holder .o-form__button {
    border: 1px solid #71B02D;
    background: #71B02D;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 1; }

.o-form__group_checked {
  margin-bottom: 40px; }

.o-form__label {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  padding-bottom: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .o-form__label:last-child {
    padding-bottom: 0; }

.o-form__input {
  padding: 14px; }

input.o-form__input {
  border: 1px solid #71B02D;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1; }

input:valid.o-form__input {
  border: 1px solid #71B02D; }

input[type=checkbox].o-form__checkbox {
  display: none; }

input[type="checkbox"]:checked.o-form__checkbox + label[for="confirmationInfo"]:before {
  content: '\2713';
  color: #71B02D;
  font-size: 20px;
  line-height: 1;
  text-align: center; }

label[for="confirmationInfo"].o-form__label {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.2; }
  label[for="confirmationInfo"].o-form__label:before {
    content: '';
    position: relative;
    min-width: 20px;
    height: 20px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle;
    margin-right: 16px; }

.o-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #71B02D;
  padding: 32px; }

.o-offer__name {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  padding-bottom: 64px; }

.o-offer__cost {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 1;
  padding-bottom: 100px; }

.o-offer__info {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1; }

.o-gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 900px) {
    .o-gallery {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }
  @media (max-width: 900px) {
    .o-gallery {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .o-gallery > * {
        margin-bottom: 16px; }
        .o-gallery > *:last-child {
          margin-bottom: 0; } }

.o-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.o-footer__block {
  border: 1px solid #71B02D;
  padding: 32px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.o-footer__form {
  padding-top: 24px; }

.o-footer__form-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.o-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.o-footer__social-item {
  width: 34px;
  height: 34px;
  display: block;
  background-color: #fff;
  padding-right: 20px; }
  .o-footer__social-item:last-child {
    padding-bottom: 0;
    padding-right: 0; }

.o-footer__social-item_vk {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 0C7.61148 0 0 7.61113 0 17C0 26.3889 7.61148 34 17 34C26.3885 34 34 26.3889 34 17C34 7.61113 26.3885 0 17 0ZM25.6233 18.8386C26.4157 19.6125 27.2539 20.3409 27.9652 21.1948C28.2803 21.5725 28.5774 21.9631 28.8035 22.4024C29.1263 23.0289 28.8348 23.7158 28.2741 23.753L24.7913 23.7523C23.8918 23.8268 23.176 23.464 22.5725 22.849C22.0908 22.359 21.6438 21.8355 21.1798 21.3287C20.9903 21.1207 20.7906 20.9249 20.5527 20.7708C20.0779 20.4619 19.6654 20.5565 19.3934 21.0525C19.1162 21.5572 19.0529 22.1165 19.0264 22.6783C18.9885 23.4995 18.7409 23.7141 17.9169 23.7527C16.1562 23.8351 14.4856 23.568 12.9329 22.6803C11.5631 21.8974 10.503 20.7923 9.57913 19.5412C7.78017 17.1023 6.40243 14.4254 5.16452 11.6717C4.88591 11.0515 5.08974 10.7197 5.77391 10.7068C6.91061 10.6849 8.0473 10.6877 9.184 10.7057C9.64661 10.713 9.9527 10.9777 10.1304 11.4143C10.7447 12.9256 11.4977 14.3635 12.4414 15.697C12.6929 16.0522 12.9496 16.4063 13.3151 16.657C13.7186 16.9339 14.0261 16.8424 14.2163 16.392C14.3381 16.1057 14.3906 15.7997 14.417 15.4929C14.5075 14.4421 14.5183 13.3917 14.3617 12.345C14.2643 11.6901 13.896 11.2671 13.2431 11.1433C12.9106 11.0803 12.9593 10.9572 13.121 10.7673C13.4017 10.439 13.6647 10.2358 14.1903 10.2358L18.1252 10.2351C18.7454 10.3569 18.8845 10.6351 18.9687 11.2598L18.9722 15.6327C18.9649 15.8744 19.0936 16.591 19.5277 16.7492C19.8755 16.864 20.105 16.585 20.313 16.3649C21.2567 15.3635 21.929 14.1816 22.5311 12.9583C22.7969 12.4188 23.0261 11.8605 23.2487 11.3012C23.4143 10.8877 23.6717 10.6842 24.1384 10.6911L27.9277 10.6957C28.0393 10.6957 28.1527 10.6967 28.2633 10.7158C28.9019 10.825 29.0769 11.0998 28.8793 11.7228C28.5683 12.7016 27.9642 13.5169 27.3736 14.3343C26.7405 15.2094 26.0654 16.0539 25.4386 16.9329C24.8626 17.7363 24.9082 18.1409 25.6233 18.8386Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-footer__social-item_telegram {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 34C26.3911 34 34 26.3911 34 17C34 7.60892 26.3911 0 17 0C7.60892 0 0 7.60892 0 17C0 26.3911 7.60892 34 17 34ZM7.77892 16.6317L24.1698 10.3119C24.9305 10.0371 25.5949 10.4975 25.3484 11.6478L25.3498 11.6464L22.559 24.7945C22.3522 25.7267 21.7983 25.9533 21.0233 25.5142L16.7733 22.3819L14.7234 24.3568C14.4967 24.5834 14.3055 24.7747 13.8663 24.7747L14.1681 20.4496L22.0447 13.3337C22.3876 13.0319 21.9682 12.8619 21.5163 13.1623L11.7824 19.2907L7.58625 17.9817C6.67533 17.6927 6.6555 17.0708 7.77892 16.6317Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-footer__social-item_instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2539 17C20.2539 18.7971 18.7971 20.2539 17 20.2539C15.2029 20.2539 13.7461 18.7971 13.7461 17C13.7461 15.2029 15.2029 13.7461 17 13.7461C18.7971 13.7461 20.2539 15.2029 20.2539 17Z' fill='%2371B02D'/%3E%3Cpath d='M24.6097 11.2429C24.4533 10.819 24.2038 10.4354 23.8795 10.1205C23.5646 9.79622 23.1812 9.54668 22.7571 9.39026C22.4131 9.25667 21.8964 9.09766 20.9447 9.05434C19.9151 9.00739 19.6064 8.99727 17 8.99727C14.3933 8.99727 14.0846 9.00713 13.0553 9.05408C12.1036 9.09766 11.5866 9.25667 11.2429 9.39026C10.8188 9.54668 10.4351 9.79622 10.1205 10.1205C9.79622 10.4354 9.54668 10.8188 9.39 11.2429C9.25641 11.5869 9.0974 12.1038 9.05408 13.0556C9.00713 14.0849 8.99701 14.3936 8.99701 17.0003C8.99701 19.6067 9.00713 19.9154 9.05408 20.9449C9.0974 21.8967 9.25641 22.4134 9.39 22.7574C9.54668 23.1815 9.79596 23.5649 10.1202 23.8798C10.4351 24.204 10.8185 24.4536 11.2426 24.61C11.5866 24.7439 12.1036 24.9029 13.0553 24.9462C14.0846 24.9931 14.393 25.003 16.9997 25.003C19.6067 25.003 19.9154 24.9931 20.9444 24.9462C21.8962 24.9029 22.4131 24.7439 22.7571 24.61C23.6085 24.2816 24.2813 23.6087 24.6097 22.7574C24.7433 22.4134 24.9023 21.8967 24.9459 20.9449C24.9929 19.9154 25.0027 19.6067 25.0027 17.0003C25.0027 14.3936 24.9929 14.0849 24.9459 13.0556C24.9026 12.1038 24.7436 11.5869 24.6097 11.2429ZM17 22.0126C14.2314 22.0126 11.9871 19.7686 11.9871 17C11.9871 14.2314 14.2314 11.9874 17 11.9874C19.7683 11.9874 22.0126 14.2314 22.0126 17C22.0126 19.7686 19.7683 22.0126 17 22.0126ZM22.2108 12.9606C21.5639 12.9606 21.0394 12.4361 21.0394 11.7892C21.0394 11.1422 21.5639 10.6177 22.2108 10.6177C22.8578 10.6177 23.3823 11.1422 23.3823 11.7892C23.382 12.4361 22.8578 12.9606 22.2108 12.9606Z' fill='%2371B02D'/%3E%3Cpath d='M17 0C7.61259 0 0 7.61259 0 17C0 26.3874 7.61259 34 17 34C26.3874 34 34 26.3874 34 17C34 7.61259 26.3874 0 17 0ZM26.7028 21.0246C26.6556 22.0637 26.4904 22.7732 26.2491 23.3942C25.742 24.7055 24.7055 25.742 23.3942 26.2491C22.7735 26.4904 22.0637 26.6554 21.0248 26.7028C19.9839 26.7503 19.6513 26.7617 17.0003 26.7617C14.3489 26.7617 14.0166 26.7503 12.9754 26.7028C11.9365 26.6554 11.2268 26.4904 10.6061 26.2491C9.95445 26.004 9.36458 25.6198 8.87691 25.1231C8.38042 24.6357 7.99625 24.0455 7.75111 23.3942C7.50987 22.7735 7.34464 22.0637 7.29742 21.0248C7.24944 19.9836 7.23828 19.6511 7.23828 17C7.23828 14.3489 7.24944 14.0164 7.29716 12.9754C7.34438 11.9363 7.50935 11.2268 7.7506 10.6058C7.99573 9.95445 8.38016 9.36432 8.87691 8.87691C9.36432 8.38016 9.95445 7.99599 10.6058 7.75085C11.2268 7.50961 11.9363 7.34464 12.9754 7.29716C14.0164 7.24969 14.3489 7.23828 17 7.23828C19.6511 7.23828 19.9836 7.24969 21.0246 7.29742C22.0637 7.34464 22.7732 7.50961 23.3942 7.7506C24.0455 7.99573 24.6357 8.38016 25.1234 8.87691C25.6198 9.36458 26.0043 9.95445 26.2491 10.6058C26.4906 11.2268 26.6556 11.9363 26.7031 12.9754C26.7506 14.0164 26.7617 14.3489 26.7617 17C26.7617 19.6511 26.7506 19.9836 26.7028 21.0246Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-footer__social-item_facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34 17C34 7.61259 26.3874 0 17 0C7.61259 0 0 7.61259 0 17C0 26.3874 7.61259 34 17 34C17.0999 34 17.1992 33.9979 17.2988 33.9961V20.7623H13.6465V16.5058H17.2988V13.3736C17.2988 9.74097 19.5164 7.76382 22.7569 7.76382C24.3086 7.76382 25.6424 7.87952 26.0312 7.93114V11.7277H23.7968C22.0339 11.7277 21.6925 12.5656 21.6925 13.7949V16.5058H25.9078L25.3584 20.7623H21.6925V33.3432C28.7983 31.3061 34 24.7597 34 17Z' fill='%2371B02D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat; }

.o-footer__title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1;
  padding-bottom: 24px; }

p.o-footer__description {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.2; }

.o-footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.o-footer__contact-info-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.o-footer__contact-info {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1;
  padding-bottom: 16px; }
  .o-footer__contact-info:last-child {
    padding-bottom: 0; }

.o-double-tab {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 1; }

.o-double-tab__switch {
  display: none; }

input[type=checkbox].o-double-tab__switch {
  visibility: hidden; }

label[for="tab-double-1"].o-double-tab__title {
  vertical-align: middle; }
  label[for="tab-double-1"].o-double-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-1"].o-double-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-double-2"].o-double-tab__title {
  vertical-align: middle; }
  label[for="tab-double-2"].o-double-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-2"].o-double-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

label[for="tab-double-3"].o-double-tab__title {
  vertical-align: middle; }
  label[for="tab-double-3"].o-double-tab__title:before {
    content: '';
    position: relative;
    display: block;
    width: calc(100% - 16px);
    height: 20px;
    margin-bottom: 16px;
    border: 1px solid #71B02D;
    background-color: #fff;
    vertical-align: middle; }
    @media (max-width: 1000px) {
      label[for="tab-double-3"].o-double-tab__title:before {
        border: 1px solid #71B02D;
        background-color: #71B02D;
        cursor: default; } }

.o-double-tab__title {
  position: relative;
  display: block;
  margin-bottom: 80px;
  cursor: pointer;
  top: 0;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }

.o-double-tab__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% + 32px);
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }
  @media (max-width: 1000px) {
    .o-double-tab__block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      position: static;
      opacity: 1; } }

.o-double-tab__content {
  width: calc(60% - 16px);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5; }
  @media (max-width: 1000px) {
    .o-double-tab__content {
      width: 100%; } }

.o-double-tab__switch:checked + .o-double-tab__title:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  margin-bottom: 16px;
  border: 2px solid #71B02D;
  background-color: #71B02D;
  vertical-align: middle;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: 1; }

.o-double-tab__switch:checked + label + .o-double-tab__block {
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.t-header {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.t-section {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 80px; }

.t-section_full {
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.t-section__title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1; }

.t-footer__information-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1; }

.t-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  @media (max-width: 1200px) {
    .t-preview {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.t-preview__holder {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1200px) {
    .t-preview__holder {
      width: 100%;
      position: absolute;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.t-preview__holder-head {
  height: 60%; }
  @media (max-width: 1200px) {
    .t-preview__holder-head {
      height: auto; } }

h1.t-preview__title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1;
  margin: 0;
  margin: 32px 0; }
  @media (max-width: 1200px) {
    h1.t-preview__title {
      margin: 0;
      margin-bottom: 16px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
      line-height: 1; } }
  @media (max-width: 568px) {
    h1.t-preview__title {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 1; } }

.t-preview__subtitle-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media (max-width: 1200px) {
    .t-preview__subtitle-holder {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.t-preview__subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 2rem;
  line-height: 1; }
  @media (max-width: 1200px) {
    .t-preview__subtitle {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      font-style: italic;
      font-size: 1rem;
      line-height: 1; } }

.t-preview__subtitle_green {
  color: #71B02D; }

.t-preview__button-holder {
  height: 40%;
  text-decoration: none;
  margin-left: 64px; }
  @media (max-width: 1200px) {
    .t-preview__button-holder {
      margin: 0;
      height: auto;
      z-index: 1;
      position: absolute;
      bottom: 40px; } }

.t-preview__button {
  border: 1px solid #71B02D;
  background: #71B02D;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 1;
  height: 70px; }
  @media (max-width: 1200px) {
    .t-preview__button {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1; } }

.t-tabs__holder {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: (minmax(calc(calc(100% / 3) + 4px), 1fr))[3];
  grid-template-columns: repeat(3, minmax(calc(calc(100% / 3) + 4px), 1fr));
  min-height: 768px;
  width: calc(100% - 32px);
  position: relative; }
  @media (max-width: 1000px) {
    .t-tabs__holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      position: static;
      height: auto; } }

.t-tabs__holder_height {
  min-height: 368px; }

.t-about {
  width: 60%; }

.t-about__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5; }

.t-offer {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: (minmax(404px, 1fr))[3];
  grid-template-columns: repeat(3, minmax(404px, 1fr)); }

.t-gallery {
  border-bottom: 1px solid #71B02D;
  padding-bottom: 80px; }
  @media (max-width: 568px) {
    .t-gallery {
      border-bottom: none;
      padding-bottom: 0; } }

.t-footer {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.t-footer__title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 1; }

.t-footer__information {
  padding-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.t-footer__information-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1; }

.t-double-tabs__holder {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: (minmax(calc(100% / 3), 1fr))[3];
  grid-template-columns: repeat(3, minmax(calc(100% / 3), 1fr));
  min-height: 768px;
  width: calc(100% - 32px);
  position: relative; }
  @media (max-width: 1000px) {
    .t-double-tabs__holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      position: static;
      height: auto; } }

/*# sourceMappingURL=style.css.map */
