

.mobile-btn {
    display: none;

    @media (max-width: 1200px) {
        display: block;
        position: absolute;
        right: 10px;
        // z-index: 10;
    }

}

.btn-wrapper {
    border: none;
    cursor: pointer;
    height: 24px;
    padding: 0;
    // position: relative;
    position: absolute;
    right: 16px;
    width: 36px;
    background: transparent;
}

.btn-burger {
    background: $main-color;
    bottom: 0;
    font-size: 2px;
    height: 4px;
    left: 0;
    margin: auto 4px;
    position: absolute;
    right: 0;
    width: 31px;
    top: 0;
}

.btn-burger::before,
.btn-burger::after {
    background: $main-color;
    content: '';
    height: 4px;
    left: -1px;
    margin: auto;
    position: absolute;
    transition: all .2s 0s;
    width: 32px;
}

.btn-burger::before {
    top: -8px;
}

.btn-burger::after {
    bottom: -8px;
}

.mobile-btn[data-state="on"] span {
    background: transparent;
    // height: 100%;
    margin: auto;
}


.mobile-btn[data-state="on"] span::after {
    bottom: 0;
    top: 0;
    transform: rotate(45deg);
    background: $white;
}

.mobile-btn[data-state="on"] span::before {
    bottom: 0;
    top: 0;
    transform: rotate(-45deg);
    background: $white;
}