/*the container must be positioned relative:*/
.o-form__custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
}

.o-form__custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  border: 1px solid $main-color;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  right: 10px;
  width: 0;
  height: 0;
  bottom: 14px;
    border: 6px solid transparent;
  border-color: $main-color transparent transparent transparent;

}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent $main-color transparent;
  bottom: 20px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  padding: 14px;
      background-color: $white;
  border: 1px solid $main-color;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}