button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin button-main-big {
  border: 1px solid $main-color;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  @include font-button-lato-big;
}
@mixin button-main-medium{
  border: 1px solid $main-color;
  min-width: 200px;
  text-align: center;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px;
  // height: 24px;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  @include font-button-lato-medium;
  @media(max-width: 1200px) {
    min-width: 120px;
  }
}

@mixin button-main-small{
  border: 1px solid $main-color;
  background: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
  height: 30px;
  color: $white;
  cursor: pointer;
  text-decoration: none;
  @include font-text-small;
}
