html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: $white;
}


h1 {
  font-weight: unset;
  margin: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}


&>* {
  box-sizing: border-box;
}

.a-body_static {
    overflow-y: hidden;
    max-height: 100%;
}