.o-about {
  @include grid(16px, 16px, 3, 360px, 0);
     @media(max-width: 1090px) {
      @include grid(8px, 8px, 2, 360px, 0);
  }
       @media(max-width: 730px) {
      @include grid(8px, 8px, 1, 360px, 0);
  }
         @media(max-width: 568px) {
      @include grid(8px, 8px, 1, 100%, 0);
  }
}

.o-about__item {
  display: flex;
  flex-direction: column;
  text-align: center;

  &>* {
    // padding-bottom: 24px;
  }
}

.o-about__description {
  padding-bottom: 28px;
  @include font-text;
}

.o-about__name, .o-about__mail, .o-about__phone {
  color: $main-color;
}

.o-about__mail, .o-about__phone {
text-decoration: none;
@include font-text;
}

.o-about__img {
  width: 100%;
}

.o-about__mail {
  @include font-text-bold;
    padding-bottom: 16px;
}
.o-about__name {
  @include font-name-lato;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
  padding-bottom: 24px;
}
