.o-footer {
  // width: calc(100% - 32px);
  display: flex;
  justify-content: space-between;

                 @media(max-width: 768px) {
          flex-direction: column;
      }
}

.o-footer__title-head {
  @include font-title-lato;
  margin-bottom: 48px;
  margin-top: 0;
                   @media(max-width: 568px) {
          margin-bottom: 24px;
      }
}
.o-footer__contact {
  // width: calc(40% - 16px);
}
.o-footer__block {
  width: calc(60% - 24px);
  // border: 1px solid $main-color;
  // padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
                 @media(max-width: 768px) {
          width: 100%;

      }
}
.o-footer__form {
  padding-top: 24px;
}
.o-footer__form-holder {
  display: flex;
  justify-content: space-between;
                 @media(max-width: 768px) {
          flex-direction: column;

      }
}
.o-footer__social {
  display: flex;
  margin-top: 32px;
  // padding: 112px;
            @media(max-width: 768px) {
padding-top: 48px;
justify-content: center;
    }
}
.o-footer__social-item {
  width: 34px;
  height: 34px;
  display: block;
  background-color: $white;
  padding-right: 20px;
  &:last-child {
    padding-bottom: 0;
    padding-right: 0;
  } 
}

.o-footer__social-item_vk {
  @include icon-vk($main-color);
}
.o-footer__social-item_telegram {
  @include icon-telegram($main-color);
}
.o-footer__social-item_instagram {
  @include icon-instagram($main-color);
}
.o-footer__social-item_facebook {
  @include icon-facebook($main-color);
}


.o-footer__title {
  @include font-text-lato-bold-medium ;
  color: $main-color;
  padding-bottom: 24px;

}

p.o-footer__description {
  margin: 0;
  @include font-text-height-small;
        @media(max-width: 768px) {
      @include font-text-small;
    }
}

.o-footer__contact {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.o-footer__contact-info-holder {
  display: flex;
  flex-direction: column;
          @media(max-width: 768px) {
padding-bottom: 64px;    }
}
.o-footer__contact-info {
  @include font-text-medium;
  line-height: 1.5;
  padding-bottom: 16px;
  color: $text-color;
  text-decoration: none;
  &:last-child {
    padding-bottom: 0;
  }
        @media(max-width: 568px) {
padding-bottom: 8px;
    }
}
