.o-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }

  .o-footer__form-holder & {
    width: calc(50% - 16px);

      //  @media(max-width: 1000px) {
      //     max-width: 255px;
      // }
             @media(max-width: 768px) {
          width: auto;

      }
  }
    .o-window & {
        // margin: 24px auto;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        min-width: 420px;
       @media(max-width: 568px) {
          min-width: 250px;

      }
    }
}

.o-form__button-holder {
  display: flex;
  justify-content: center;
}

.o-form__button-holder_left {
  display: flex;
  justify-content: flex-start;
  @media(max-width: 768px) {
       justify-content: center;
   }
}
.o-form__button {
  @include button-main-medium;
  .o-footer__form-holder &{
height: 24px;
  }
}
  .o-form__label {
    .o-form__group_checked & {
    // text-align: left;
    // margin-left: 32px;
  }
}

.o-form__label-link {
  color: $main-color;
  &:hover {
    text-decoration: none;
  }
}
 .o-form__group_checked {
  margin-bottom: 40px;
  max-width: 420px;
               @media(max-width: 768px) {
          margin: 40px 0;

      }
 }
.o-form__label {
  @include font-text-lato;
  cursor: pointer;
  padding-bottom: 12px;
  display: inline-flex;

    &:last-child {
    padding-bottom: 0;
  }
}
.o-form__input {
  padding: 14px;
      @media(max-width: 568px) {
          padding: 6px;
      }
}
input {
  &.o-form__input {
    border: 1px solid $main-color;
    @include font-text-lato; 
  }
}
// input:invalid{
//   &.o-form__input {
//     border: 1px solid $red;
//   }
// }

input:valid {
  &.o-form__input {
    border: 1px solid $main-color;
  }
}
input[type=tel] {
     &.o-form__input {
         
     }
 }
input[type=checkbox] {
     &.o-form__checkbox {
         display: none;
     }
 }

input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfo"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfo"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }
 input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfo-ref"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfo-ref"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }
  input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfo-mat"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfo-mat"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }
   input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfoFam"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfoFam"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }
    input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfoSub"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfoSub"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }

     input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfoGos"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfoGos"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
        margin-top: 6px;
    // right: calc(34% - 4px);
         }
     }
 }
 input[type="checkbox"]:checked.o-form__checkbox+label[for="confirmationInfoContact"] {
     &:before {
         content: '\2713';
         color: $main-color;
         font-size: 20px;
         line-height: 1;
         text-align: center;
     }

 }

 label[for="confirmationInfoContact"] {
     &.o-form__label {
       vertical-align: middle;
       @include  font-text-lato;
         &:before {
    content: '';
    position: relative;
    
    min-width: 20px;
    height: 20px;
    border: 1px solid $main-color;
    background-color: $white;
    vertical-align: middle;
    margin-right: 16px;
    // right: calc(34% - 4px);
         }
     }
 }

// input:invalid {
//   border: 2px solid $red;
// }

// input:focus:invalid {
//   box-shadow: none;
// }