.o-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
      & > * {
      padding-right: 16px;
      &:last-child {
        padding-right: 0;
      }
    }
  @media(max-width: 900px) { 
    justify-content: flex-start;
  }
  @media(max-width: 900px) { 
    flex-direction: column;
    & > * {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }
}