.o-header {
  padding: 32px 0;
  display: flex;
  align-items: center;
  width: 100%;
    @media(max-width: 1097px) {
    justify-content: space-between;
  }
}
.o-header__logo {
  width: 30%;
}
.o-header__block {
  width: 70%;
    display: flex;
  align-items: center;

  @media(max-width: 1097px) {

  }
}
.o-header__menu {
  width: 70%;
  display: flex;
  justify-content: space-around;
    @media(max-width: 1097px) {

    }
}

  @media(max-width: 1097px) {
  .o-header__menu_hidden {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      visibility: hidden;
      transform: translateX(100%);
  }

  .o-header__menu_visible {
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    transition: all,ease-in-out,.2s;
    transform: translateX(0);
    width: 100%;
    position: fixed;
    background-color: #fff;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}



.o-header__menu-item {
  text-decoration: none;
  color: $text-color;
  @include font-text;
  cursor: pointer;
}
.o-header__tel-holder {
  width: calc(30% - 16px);
  display: flex;
  justify-content: flex-end;
      @media(max-width: 1097px) {
      display: none;
    }
}

.o-header__tel {
  color: $text-color;
  font-size: 1.5rem;
  @include font-text-lato-bold;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  

      &:after {
      content: '';
      position: absolute;
      display: block;
      border-bottom: 1px solid $main-color;
      width: calc(100% + 24px);
      bottom: -4px;
    }

}
