.o-header {
  padding: 32px 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.o-header__logo {
  width: 25%;
}
.o-header__menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.o-header__menu-item {
  text-decoration: none;
  color: $text-color;
  @include font-text;
  cursor: pointer;
}
.o-header__tel-holder {
  width: calc(25% - 16px);
  display: flex;
  justify-content: flex-end;
}

.o-header__tel {
  color: $text-color;
  font-size: 1.5rem;
  @include font-text-lato-bold;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: center;
  

      &:after {
      content: '';
      position: absolute;
      display: block;
      border-bottom: 1px solid $main-color;
      width: calc(100% + 24px);
      bottom: -4px;
    }

}
