.o-offer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  border: 1px solid $main-color;
  padding: 48px 32px;
           @media(max-width: 568px) {
padding: 32px 16px;
  }
}
.o-offer__list {
  padding-left: 20px;
  min-height: 130px;
  margin: 0;
    display: flex;
  flex-direction: column;
}
.o-offer__list-item {
  @include font-text-lato;
  list-style-position: inside;
  padding-bottom: 16px;
position: relative;
display: inline-block;
// margin-left: 16px;
  &:before {
    content: '';
    position: absolute;
     @include icon-mark($main-color);
     width: 16px;
     height: 16px;
left: -24px;
    vertical-align: middle;
  }
  &:last-child {
    padding-bottom: 0;
  }
}
.o-offer__name {
  text-align: center;
  @include font-text-lato-bold;
  padding-bottom: 64px;
}

.o-offer__cost {
  text-align: center;
  @include font-name-cost-lato;
  color: $main-color;
padding: 64px 0;
         @media(max-width: 568px) {
padding: 32px 0;
  }
}

.o-offer__info {
  text-align: center;
  @include font-info-lato;
     @media(max-width: 568px) {
      @include font-text-lato;
    }
}