.o-popup {
  border: 1px solid $main-color;
  max-width: 658px;
  background-color: $white;
  margin: auto;
  // height: 448px;
  padding-top: 40px;
    @media(max-width: 568px) {
    height: 100%;
  }
}
.o-popup__content {
  // padding: 56px 116px;
      padding-top: 112px;
    padding-bottom: 152px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media(max-width: 568px) {
    padding: 44px 32px;
  }
}

.o-popup__text {
  @include font-text-lato-bold-small ;
  padding-bottom: 16px;
  &:last-child {
    padding-bottom: 0;
  }
}

.closePopup{
position: relative;
    left: calc(100% - 56px);
    // top: 16px;
    cursor: pointer;
  background: transparent;
      padding: 8px 16px;
  &:before {
    content: '';
    position: absolute;
        bottom: 0;
    top: 0;
    transform: rotate(-45deg);
    background: $grey;
    width: 4px;
    height: 36px;

  }
  &:after {
        content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    transform: rotate(45deg);
    background: $grey;
        width: 4px;
    height: 36px;
  }
}

.closePopupSingle {
  position: relative;
    left: calc(100% - 56px);
    // top: 16px;
    cursor: pointer;
  background: transparent;
      padding: 8px 16px;
  &:before {
    content: '';
    position: absolute;
        bottom: 0;
    top: 0;
    transform: rotate(-45deg);
    background: $grey;
    width: 4px;
    height: 36px;

  }
  &:after {
        content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    transform: rotate(45deg);
    background: $grey;
        width: 4px;
    height: 36px;
  }
}