



.o-tab{
@include font-button-lato;
}

#tab-1 {

}
.o-tab__switch {
  display: none;
}

input[type=checkbox] {
     &.o-tab__switch {
         visibility: hidden;
     }
 }
label[for="tab-1"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
         }
     }
 }
label[for="tab-2"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
         }
     }
 }

 label[for="tab-3"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
         }
     }
 }
.o-tab__title {
  position: relative;
  display: block;
      margin-bottom: 80px;
  // height: 100%;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.o-tab__block {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 32px);
    height: 100%;
    position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  transition: all 0.35s;
}
.o-tab__content {
width: calc(60% - 16px);
  @include font-text-height;

}
.o-tab__switch:checked + .o-tab__title {
           &:before {
             content: '';
             position: relative;
             display: block;
             width: 100%;
             height: 20px;
             margin-bottom: 16px;
             border: 2px solid $main-color;
             background-color: $main-color;
             vertical-align: middle;
               transition: all 0.35s;
  z-index: 1;
         }

}
.o-tab__switch:checked + label + .o-tab__block {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
.o-tab__content-text {
  margin-top: 0;
  position: relative;
  z-index: 1;
}
.o-tab__content-action{
  position: relative;
  z-index: 0;
  display: block;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.o-tab__content-action_rose {
    height: 476px;
    background-position: bottom 24px left 24%;
    background-image: linear-gradient(273.46deg, #FFFFFF 8.3%, rgba(255, 255, 255, 0) 47.44%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 92.88%), url('../img/preview--form-1.jpg');
}
.o-tab__content-action_money {
    height: 468px;
    background-position: bottom 42px left 24%;
    background-image: linear-gradient(270.42deg, #FFFFFF 0.28%, rgba(255, 255, 255, 0) 31.04%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 67.11%), url('../img/preview--form-3.jpg');
}
.o-tab__content-action_child {
    height: 468px;
    bottom: 40%;
    background-position: bottom 0 left 24%;
    background-image: linear-gradient(90.43deg, #FFFFFF 7.74%, rgba(255, 255, 255, 0) 49.99%), linear-gradient(178.35deg, #FFFFFF 2.08%, rgba(255, 255, 255, 0) 53.89%), url('../img/preview--form-2.jpg');
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.o-tab__form {
  width: calc(40% - 32px);
}

.o-tab__form-holder {
  max-width: 482px;
  border: 1px solid $main-color;
  padding: 48px 24px;
}

