



.o-tab{
@include font-button-lato;

}

#tab-1 {

}
.o-tab__switch {
  display: none;
}

input[type=checkbox] {
     &.o-tab__switch {
         visibility: hidden;
     }
 }
label[for="tab-1"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
             @media(max-width: 1000px) {
                // border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
                          @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }
label[for="tab-2"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
                          @media(max-width: 1000px) {
                // border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
                          @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }

 label[for="tab-3"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
            @media(max-width: 1000px) {
                // border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
              @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }

.o-tab__title {
  position: relative;
  display: block;
      // margin-bottom: 80px;
  // height: 100%;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  min-height: 164px;
  @media(max-width: 568px) {
cursor: default;
min-height: 72px;
text-align: center;
transition: none;
  }
}
.o-tab__block {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 32px);
  // margin-top: 80px;
    max-height: 87%;
    position: absolute;
  z-index: 1;
  left: 0;
  opacity: 0;
  transition: all 0.35s;
    @media(max-width: 1000px) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
        width: 100%;
        position: static;
        opacity: 1;
      }
}
.o-tab__content {
width: calc(60% - 16px);
  @include font-text-height;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &>* {
    margin-bottom: 32px;
  }
      @media(max-width: 1000px) {
        width: 100%;
      }


}
.o-tab__content__image-holder {
        @media(max-width: 1000px) {
        display: none;
      }
}
.o-tab__switch:checked + .o-tab__title {
           &:before {
             content: '';
             position: relative;
             display: block;
              max-width: 100%;
             // height: 18px;
             margin-bottom: 16px;
             border: none;
             // border: 2px solid $main-color;
             background-color: $main-color;
             vertical-align: middle;
               transition: all 0.35s;
  z-index: 1;
                         @media(max-width: 768px) {
                margin-bottom: 16px;
                // height: 8px;

              }
         }


}
.o-tab__switch:checked + label + .o-tab__block {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
p.o-tab__content-text {
  // margin-top: 0;
  // margin: 0;
  margin-top: 0;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
  &:last-child {
   margin-bottom: 0;
  } 
}
.o-tab__content-desc {
        @media(max-width: 1000px) {
        display: flex;
        flex-direction: column;
      }
}
.o-tab__content-desc-text_action {
 @include font-text-lato-action ;
 color: $main-color;  
      @media(max-width: 1000px) {
         @include  font-text-lato;
      }
}
.o-tab__content-action{
  position: relative;
  z-index: 0;
  display: block;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
     @media(max-width: 1000px) {
          background-image: none;
      }

                  @media(max-width: 568px) {
        margin: auto;
      }
}

.o-tab__content-action_rose {
    height: 620px;
    background-position: top 100px left 24%;
    // opacity: 0.9;
    background-image: linear-gradient(273.46deg, #FFFFFF 8.3%, rgba(255, 255, 255, 0) 47.44%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 92.88%), url('../img/preview--form-1.jpg');
     @media(max-width: 1000px) {
          background-image: none;
          height: auto;
      }
}
.o-tab__content-action_money {
    height: 620px;
    // opacity: 0.9;
    background-position: top 100px left 24%;
    background-image: linear-gradient(270.42deg, #FFFFFF 0.28%, rgba(255, 255, 255, 0) 31.04%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 67.11%), url('../img/preview--form-3.jpg');
     @media(max-width: 1000px) {
          background-image: none;
          height: auto;
      }
}
.o-tab__content-action_child {
    height: 620px;
    // opacity: 0.9;
    background-position: bottom 0 left 24%;
    background-image: linear-gradient(90.43deg, #FFFFFF 7.74%, rgba(255, 255, 255, 0) 49.99%), linear-gradient(178.35deg, #FFFFFF 2.08%, rgba(255, 255, 255, 0) 53.89%), url('../img/preview--form-2.jpg');
     @media(max-width: 1000px) {
          background-image: none;
          height: auto;
      }
}
.o-tab__form {
  width: calc(40% - 32px);
       @media(max-width: 1000px) {
          width: 100%;
      }
             @media(max-width: 568px) {
          padding-top: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
      }
}

.o-tab__form-holder {
  max-width: 482px;
  // border: 1px solid $main-color;
  // padding: 0px 24px;
         @media(max-width: 1000px) {
          max-width: 240px;
      }
               @media(max-width: 568px) {
          width: auto;
      }
}

input[type=checkbox] {
     &.o-tab__switch {
         visibility: hidden;
     }
 }
label[for="tab-double-1"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
             @media(max-width: 1000px) {
                border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
                          @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }
label[for="tab-double-2"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
                          @media(max-width: 1000px) {
                border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
                          @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }

 label[for="tab-double-3"] {
     &.o-tab__title  {
       vertical-align: middle;
         &:before {
             content: '';
             position: relative;
             display: block;
                 // width: calc(100% - 16px);
             height: 20px;
             margin-bottom: 16px;
             border: 1px solid $main-color;
             background-color: $white;
             vertical-align: middle;
                                       @media(max-width: 1000px) {
                border: 1px solid $main-color;
             background-color: $main-color;
             cursor: default;
            }
                          @media(max-width: 568px) {
                margin-bottom: 8px;
                height: 10px;
              }
         }
     }
 }
