.o-window {
  border: 1px solid $main-color;
  max-width: 658px;
  background-color: $white;
  margin: auto;
  // padding-top: 40px;
  padding: 32px;
    @media(max-width: 568px) {
    height: 100%;
  }
}
.o-window__form {
  // padding: 16px 56px 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // max-width: 420px;
  @media(max-width: 568px) {
    // padding: 44px 32px;

  }
}

/* Modal Content */
.modal-content {

}

.close {
@include close;
}
.closeFam {
@include close;
}


