.t-section {
    @include container_global;
    margin-bottom: 100px;
      @media(max-width: 568px) {
margin-bottom: 72px;
  }
}
.t-section_full {
    @include container_free;
}
.t-section__title {
  @include font-title-lato;
  margin-top: 0;
  margin-bottom: 48px;
  cursor: default;
    @media(max-width: 568px) {
          display: flex;
          justify-content: center;
          margin-bottom: 24px;
      }
}
.t-section_hidden-mobile {
          @media(max-width: 900px) {
display: none;
  }

}
